Bipit_KR/Бипит_3/Бипит_3/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillNaklodnie">
        <s:complexType />
      </s:element>
      <s:element name="FillNaklodnieResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FillNaklodnieResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillPostavshikt">
        <s:complexType />
      </s:element>
      <s:element name="FillPostavshiktResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FillPostavshiktResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertNaklodnie">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID_POSTAVSHIK" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cost_naklodnie" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data_naklodnie" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertNaklodnieResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertPostavshik">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Name_postavshik" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertPostavshikResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="FillNaklodnieSoapIn">
    <wsdl:part name="parameters" element="tns:FillNaklodnie" />
  </wsdl:message>
  <wsdl:message name="FillNaklodnieSoapOut">
    <wsdl:part name="parameters" element="tns:FillNaklodnieResponse" />
  </wsdl:message>
  <wsdl:message name="FillPostavshiktSoapIn">
    <wsdl:part name="parameters" element="tns:FillPostavshikt" />
  </wsdl:message>
  <wsdl:message name="FillPostavshiktSoapOut">
    <wsdl:part name="parameters" element="tns:FillPostavshiktResponse" />
  </wsdl:message>
  <wsdl:message name="InsertNaklodnieSoapIn">
    <wsdl:part name="parameters" element="tns:InsertNaklodnie" />
  </wsdl:message>
  <wsdl:message name="InsertNaklodnieSoapOut">
    <wsdl:part name="parameters" element="tns:InsertNaklodnieResponse" />
  </wsdl:message>
  <wsdl:message name="InsertPostavshikSoapIn">
    <wsdl:part name="parameters" element="tns:InsertPostavshik" />
  </wsdl:message>
  <wsdl:message name="InsertPostavshikSoapOut">
    <wsdl:part name="parameters" element="tns:InsertPostavshikResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FillNaklodnie">
      <wsdl:input message="tns:FillNaklodnieSoapIn" />
      <wsdl:output message="tns:FillNaklodnieSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FillPostavshikt">
      <wsdl:input message="tns:FillPostavshiktSoapIn" />
      <wsdl:output message="tns:FillPostavshiktSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertNaklodnie">
      <wsdl:input message="tns:InsertNaklodnieSoapIn" />
      <wsdl:output message="tns:InsertNaklodnieSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertPostavshik">
      <wsdl:input message="tns:InsertPostavshikSoapIn" />
      <wsdl:output message="tns:InsertPostavshikSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillNaklodnie">
      <soap:operation soapAction="http://tempuri.org/FillNaklodnie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillPostavshikt">
      <soap:operation soapAction="http://tempuri.org/FillPostavshikt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNaklodnie">
      <soap:operation soapAction="http://tempuri.org/InsertNaklodnie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPostavshik">
      <soap:operation soapAction="http://tempuri.org/InsertPostavshik" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillNaklodnie">
      <soap12:operation soapAction="http://tempuri.org/FillNaklodnie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillPostavshikt">
      <soap12:operation soapAction="http://tempuri.org/FillPostavshikt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNaklodnie">
      <soap12:operation soapAction="http://tempuri.org/InsertNaklodnie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPostavshik">
      <soap12:operation soapAction="http://tempuri.org/InsertPostavshik" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44320/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44320/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>